<table style="margin: 20px 20px 0px;" class="program-index">
	<tbody>
		<tr>
			<td>Email:</td>
			<td>
				<%= donor.email %>
			</td>
		</tr>
		<tr>
			<td>First Name: </td>
			<td><%= donor.first_name %></td>
		</tr>
		<tr>
			<td>Last Name:</td>
			<td><%= donor.last_name %></td>
		</tr>
		<tr>
			<td>Phone: </td>
			<td><%= donor.phone %></td>
		</tr>
		<tr>
			<td>Donor Number: </td>
			<td><%= donor.donor_number %></td>
		</tr>

	</tbody>
</table>