<div id="maincontent">
	<h1>Update your password: </h1>
	<p>This will log you out upon successful password update and require you to login again.  </p>
	<p><%= form_for @donor, :url => "/donors/update_my_password" do |f| %>
		<%= f.label :password %><br />
		<%= f.password_field :password %><br /><br />
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %><br /><br />
		<%= f.submit "Update Password" %> | <%= link_to "Cancel", "/donors/me" %>
	<% end %>
	</p>
</div>