<%= form_for(@email_content) do |f| %>
  <% if @email_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_content.errors.count, "error") %> prohibited this email_content from being saved:</h2>

      <ul>
      <% @email_content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :bcc %><br />
    <%= f.text_field :bcc %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
