<h1>Listing payment_profiles</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Payment cim</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payment_profiles.each do |payment_profile| %>
  <tr>
    <td><%= payment_profile.member %></td>
    <td><%= payment_profile.payment_cim_id %></td>
    <td><%= link_to 'Show', payment_profile %></td>
    <td><%= link_to 'Edit', edit_payment_profile_path(payment_profile) %></td>
    <td><%= link_to 'Destroy', payment_profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment profile', new_payment_profile_path %>
